.pagination  {
 display: flex;
align-items: center;
justify-content: center;
 width: 100%;
 flex-direction: row;
 gap: 12px;
}

.pageNumber {
 padding: 8px;
 border: none;
 background-color: white;
 cursor: pointer;
}


.list {
 display: flex;
 align-items: center;
 justify-content: center;
}

.arrow {
 border: none;
 background-color: white;
 cursor: pointer;
}

.pageNumber:disabled, .arrow:disabled {
cursor: default;
}
